In [10]:
import pandas as pd

In [11]:
courses = pd.read_csv("udemy-courses-web-development.csv")
courses.head(2)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development

In [5]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1203 non-null   float64
 1   course_title         1203 non-null   object
 2   url                  1203 non-null   object
 3   price                1203 non-null   float64
 4   num_subscribers      1203 non-null   float64
 5   num_reviews          1203 non-null   float64
 6   num_lectures         1203 non-null   float64
 7   level                1203 non-null   object
 8   Rating               1203 non-null   float64
 9   content_duration     1203 non-null   float64
 10  published_timestamp  1203 non-null   object
 11  subject              1204 non-null   object
dtypes: float64(7), object(5)
memory usage: 113.1+ KB

In [6]:
courses.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration
count,1.203000e+03,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000
mean,7.068747e+05,77.036575,6635.024938,357.355777,52.767249,0.643051,5.586658
std,3.287600e+05,66.145420,14559.419007,1572.917685,62.762267,0.306004,7.242855
min,8.324000e+03,0.000000,19.000000,0.000000,5.000000,0.000000,0.500000
25%,4.750150e+05,20.000000,1128.500000,25.000000,19.000000,0.340000,1.500000
50%,7.383600e+05,50.000000,2430.000000,65.000000,32.000000,0.760000,3.000000
75%,9.754830e+05,115.000000,6947.500000,179.000000,63.500000,0.920000,6.500000
max,1.277924e+06,200.000000,268923.000000,27445.000000,779.000000,1.000000,76.500000

In [8]:
fields = courses.columns.values
print(fields)

['course_id' 'course_title' 'url' 'price' 'num_subscribers' 'num_reviews'
 'num_lectures' 'level' 'Rating' 'content_duration' 'published_timestamp'
 'subject']

In [9]:
print("field\t\tunique values")
for field in fields:
    print(field,'\t\t',courses[field].unique())

field		unique values
course_id 		 [  41295.   59014.  625204. ... 1248172. 1250934. 1270222.]
course_title 		 ['Learn HTML5 Programming From Scratch' 'Coding for Entrepreneurs Basic'
 'The Web Developer Bootcamp' ...
 'Essentials of Spring 5.0 for Developers'
 'Display and analyze GIS data on the web with Leaflet.js'
 'Learning Path: Web Applications with Spring and Angular']
url 		 ['https://www.udemy.com/learn-html5-programming-from-scratch/'
 'https://www.udemy.com/coding-for-entrepreneurs-basic/'
 'https://www.udemy.com/the-web-developer-bootcamp/' ...
 'https://www.udemy.com/essentials-of-spring-50-for-developers/'
 'https://www.udemy.com/display-and-analyze-gis-data-on-the-web/'
 'https://www.udemy.com/learning-path-web-applications-with-spring-and-angular/']
price 		 [  0. 200.  30. 175. 190. 120. 195. 145. 180.  50.  75. 150.  20.  80.
 100.  95. 140.  70.  60.  40.  35. 135.  65.  55.  90.  nan 115. 170.
 110.  85.  25. 125. 165.  45. 160. 105. 185.]
num_subscribers 		 [2.68923e+05 1.61029e+05 1.21584e+05 ... 3.40000e+01 2.50000e+01
 1.90000e+01]
num_reviews 		 [8.6290e+03 2.7900e+02 2.7445e+04 5.9240e+03 2.2412e+04 6.5120e+03
 2.6850e+03 4.5980e+03 1.6976e+04 1.9649e+04 1.7160e+03 2.5750e+03
 5.6600e+03 2.4080e+03 4.0470e+03 2.6920e+03 1.1580e+04 1.1123e+04
 8.7400e+02 1.2250e+03 1.9550e+03 1.5117e+04 1.2360e+03 2.8500e+02
 5.5900e+03 7.1060e+03 5.2500e+02 2.1040e+03 8.3410e+03 1.8130e+03
 2.6180e+03 2.1700e+02 4.4340e+03 3.8090e+03 5.2600e+02 1.0050e+03
 4.5000e+02 7.4200e+02 1.9480e+03 1.3420e+03 7.8000e+02 4.3160e+03
 6.8800e+02 1.1500e+02 4.3400e+03 3.3300e+02 1.0970e+03 1.0900e+03
 7.5000e+02 1.8800e+02 3.0600e+02 3.8200e+02 5.4000e+02 4.2300e+02
 4.9000e+02 5.2100e+02 2.1000e+02 7.9900e+02 6.0200e+02 7.8300e+02
 5.4000e+01 1.4200e+02 3.3260e+03 6.1000e+01 1.0800e+03 1.1060e+03
 1.3800e+02 9.1400e+02 1.2200e+03 1.5400e+02 9.4500e+02 6.3570e+03
 6.1500e+02 4.1100e+02 3.1370e+03 4.0700e+02 1.1120e+03 3.8600e+02
 1.1700e+02 1.5900e+02 8.8000e+01 2.1200e+02 2.1440e+03 2.6000e+02
 6.4000e+01 1.9800e+02 4.6750e+03 9.4000e+01 2.8300e+02 6.7600e+02
 3.1660e+03 3.8000e+02 1.7000e+01 1.2600e+02 8.2000e+02 1.3700e+02
 5.1000e+01 3.5400e+02 8.6000e+01 5.8900e+02 3.0300e+02 5.1400e+02
 3.3000e+01 4.0600e+02 4.1500e+02 6.8900e+02 1.6700e+02 9.7000e+02
 5.2300e+02 3.1000e+01 1.2340e+03 2.3700e+02 1.3100e+02 1.3580e+03
 2.3500e+02 1.6900e+02 4.4000e+01 2.7000e+01 3.0000e+01 1.5480e+03
 1.0600e+02 2.3200e+02 2.3900e+02 6.3000e+01 9.2000e+01 4.7300e+02
 2.1500e+02 1.9810e+03 7.8000e+01 9.7800e+02 3.4600e+02 2.8600e+02
 2.7090e+03 1.2000e+02 6.8000e+02 1.6300e+02 2.2000e+02 9.5000e+01
 9.6000e+01 2.6200e+02 1.4500e+02 2.5300e+02 8.9000e+01 5.0600e+02
 2.7100e+02 1.5000e+01 1.4400e+02 8.1000e+01 6.6000e+02 5.0000e+01
 5.7000e+01 1.8830e+03 1.5200e+02 2.4200e+02 5.4600e+02 8.7600e+02
 2.4000e+02 1.7400e+02 1.8460e+03 4.3000e+01 1.0200e+02 3.5000e+01
 3.4000e+01 1.6500e+02 2.2800e+02 1.3000e+01 1.2860e+03 3.1900e+02
 1.1400e+02 1.1000e+02 3.9400e+02 8.3000e+01 5.7000e+02 1.2900e+02
 2.0000e+02        nan 3.1400e+02 6.8000e+01 9.9700e+02 3.7900e+02
 7.5000e+01 5.3000e+01 1.0100e+02 3.2900e+02 2.4100e+02 7.1000e+01
 5.6000e+01 9.8900e+02 5.9000e+01 3.8000e+01 3.6800e+02 1.4700e+02
 7.3000e+01 2.1000e+01 2.1900e+02 3.1100e+02 3.9000e+02 2.0600e+02
 1.7200e+02 1.5600e+03 6.2000e+02 1.7240e+03 4.1000e+01 8.7000e+01
 1.8930e+03 2.6100e+02 1.7300e+02 9.3100e+02 2.9000e+01 5.2200e+02
 8.3600e+02 3.7000e+01 3.3600e+02 6.9000e+01 1.8380e+03 3.0000e+02
 1.1110e+03 2.3100e+02 1.8300e+02 5.6100e+02 4.6000e+01 2.6800e+02
 4.1600e+02 9.0000e+00 5.8000e+01 6.2000e+01 7.0000e+00 1.2130e+03
 9.4100e+02 3.0400e+02 1.1100e+02 9.1000e+01 4.4100e+02 6.5000e+01
 5.2000e+01 2.1600e+02 5.5000e+01 2.0500e+02 8.0000e+00 2.2000e+01
 2.7700e+02 6.2900e+02 3.9000e+01 7.2000e+01 1.1600e+02 6.5500e+02
 1.6600e+02 2.8000e+01 1.3200e+02 4.0100e+02 9.9000e+01 2.7600e+02
 8.4000e+01 1.0360e+03 1.6000e+01 3.0200e+02 1.3040e+03 7.2100e+02
 1.3840e+03 4.5000e+01 9.0100e+02 3.1300e+02 1.3400e+02 1.0700e+02
 9.8700e+02 1.0400e+02 3.2400e+02 1.2500e+02 9.3000e+01 1.6000e+02
 8.4800e+02 6.2700e+02 2.0300e+02 4.6600e+02 8.5000e+02 1.4450e+03
 1.8500e+02 7.9000e+01 2.6000e+01 8.0000e+01 4.3900e+02 1.3300e+02
 3.5800e+02 1.1200e+02 1.0500e+02 8.2800e+02 4.7000e+01 1.3750e+03
 1.8000e+02 4.1400e+02 3.1800e+02 7.3700e+02 3.9500e+02 4.6300e+02
 1.9600e+02 6.8500e+02 4.0000e+01 7.4000e+01 6.3400e+02 4.9000e+01
 6.6200e+02 1.2800e+02 9.8300e+02 9.7000e+01 3.9300e+02 5.0000e+00
 1.0170e+03 1.4900e+02 1.7100e+02 2.4700e+02 2.0000e+01 1.0800e+02
 1.4600e+02 7.6000e+01 2.3000e+01 6.2200e+02 1.5000e+02 0.0000e+00
 2.9200e+02 3.8300e+02 3.0700e+02 4.3400e+02 1.7800e+02 3.5900e+02
 6.7400e+02 2.4000e+01 4.8200e+02 8.5000e+01 3.2000e+01 1.3500e+02
 5.0800e+02 2.0100e+02 1.9500e+02 4.8000e+01 6.0000e+01 3.6000e+01
 1.8000e+01 2.0200e+02 1.2300e+02 1.1000e+01 4.8900e+02 3.1200e+02
 1.2000e+01 6.7000e+01 8.2000e+01 9.0000e+01 5.3100e+02 2.7800e+02
 1.9000e+01 1.0000e+01 2.1400e+02 5.2700e+02 3.5100e+02 4.5300e+02
 1.3600e+02 3.0900e+02 4.2000e+01 1.4000e+01 4.1800e+02 2.4300e+02
 2.2100e+02 4.2500e+02 1.7900e+02 3.3100e+02 2.5000e+01 3.1700e+02
 5.2900e+02 1.0300e+02 2.9100e+02 9.8000e+01 1.3900e+02 6.0000e+00
 4.9700e+02 4.0000e+00 1.4300e+02 7.7000e+01 3.0000e+00 2.8800e+02
 3.8400e+02 3.6500e+02 2.2300e+02 2.9000e+02 5.3600e+02 2.1300e+02
 1.4100e+02 3.7200e+02 2.2400e+02 3.6000e+02 1.9300e+02 2.4900e+02
 1.1800e+02 4.7100e+02 2.5800e+02 4.3800e+02 4.3500e+02 3.4000e+02
 1.6200e+02 2.1800e+02 3.3000e+02 1.2100e+02 2.0000e+00 2.4500e+02
 1.4800e+02 1.0000e+00 1.6100e+02 1.7700e+02 1.6400e+02 1.3000e+02
 1.1900e+02 1.1300e+02]
num_lectures 		 [ 45.  27. 342.  30. 304.  20.  10.  85. 329.  22.  21.  50. 197.  17.
  24.  55.  98.  84. 144.  77. 150.   9. 125.  41.  13. 194. 316.  32.
  53. 246. 283.  67.  12.  46. 195.  87.  66. 286. 113. 185.  38.  42.
 281.  58. 251.  18.  73.  26.  16. 119.  35.   8. 138.  28.  44.  80.
 779.  15.  68.  61.  37.  23.  96. 111.  93.  33.  34.  74. 159.  29.
  25.  60.  19.  64.  65.  14.  43.  47.  62.  69.  89.  88.  95.  36.
  11.  82. 120.  54.  57. 191. 118.   7. 129.  59.  nan  90. 136. 112.
  52.  40. 131. 402. 177. 137.  31.  56.  75. 133.  63. 308. 110.  39.
   5. 384. 173. 147. 491. 172. 454. 353.   6. 221. 188. 123. 114. 135.
 132. 143.  92.  83. 117. 160.  70. 115. 171.  48. 126.  49. 122. 100.
 161.  86. 107. 348.  99.  94.  72. 104. 102. 162. 174. 207. 330. 212.
  79. 179. 103. 154. 101. 215.  91. 142. 168.  97.  71.  76. 458. 224.
 145. 178.  78. 157. 124. 152. 320.  51. 301. 271. 108. 204. 140.  81.
 536. 239. 116. 214. 109. 106. 358.]
level 		 ['Beginner Level' 'Expert Level' 'All Levels' 'Intermediate Level' nan]
Rating 		 [0.82 0.69 0.89 0.78 0.55 0.79 0.85 0.9  0.94 0.39 0.57 0.61 0.96 0.87
 0.73 0.28 0.76 0.62 0.   0.41 0.18 0.34 0.31 0.52 0.74 0.07 0.68 0.77
 0.7  0.95 0.4  0.05 0.38 0.21 0.32 0.15 0.22 0.12 0.14 0.71 0.24 0.81
 0.04 0.8  0.36 0.86 0.01 0.19 0.63 0.03 0.46 0.88 0.66 0.67 0.59 0.02
 0.48 0.11 0.53 0.45 0.26 0.35 0.44 0.56 0.58 0.47 0.5  0.25 0.3  0.64
 0.54 0.1  0.99 0.2  0.49 0.29 0.93 0.16 0.84 0.75  nan 1.   0.13 0.17
 0.23 0.92 0.98 0.08 0.42 0.43 0.27 0.06 0.6  0.51 0.33 0.37 0.97 0.72
 0.65 0.83 0.91]
content_duration 		 [10.5         3.5        43.          3.         30.5         2.
  6.5        11.5        22.          1.          6.         27.5
  1.5         4.5         7.         13.          7.5        20.
  8.         26.5        12.5         8.5        12.          4.
  9.5        51.         32.5        31.5        10.         18.
 17.5         5.         22.5        19.5         5.5        45.
  2.5         0.73333333 11.         44.5        17.         18.5
 13.5        21.5         9.         20.5         0.55        0.56666667
 24.5        23.                 nan 16.         14.5         0.7
  0.53333333 16.5        15.5        29.5         0.71666667  0.68333333
 76.5         0.65        0.58333333 57.         60.         48.5
 15.         14.          0.5        19.         21.          0.51666667
  0.61666667 26.          0.66666667 25.          0.63333333 33.
 37.5        25.5         0.6        23.5        42.         66.5       ]
published_timestamp 		 ['2013-02-14T07:03:41Z' '2013-06-09T15:51:55Z' '2015-11-02T21:13:27Z' ...
 '2017-06-11T18:34:40Z' '2017-06-15T21:17:43Z' '2017-06-28T21:04:21Z']
subject 		 ['Subject: Web Development' nan]